body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
	width: 100%;  
  background-image: url('https://images.unsplash.com/photo-1502920514313-52581002a659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80');
  background-color: #000000;
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
	text-shadow: 2px 2px 4px #000000
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
	text-shadow: 2px 2px 4px #000000
}

.page-logo {
  width: 200px;
	margin-top:5px;
	
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

.entrada{
	width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
	display: block;
  margin-right: auto;
  margin-left: auto;
}

.resultado{
	color: white;
	width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
	display: block;
  margin-right: auto;
  margin-left: auto;
	background-color: #BF3124;
}

.botao{
	color:white;
	font-size: 24px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-color: blue;
	background-color: blue;
}
